<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoclickerFirestone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AutoclickerFirestone.Properties.Settings>
      <setting name="TrainedGuardian" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpgradeMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TotalSquads" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="offsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="cycleDurationSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ResearchScrollAmount1" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ResearchScrollAmount2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DoResearch1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DoResearch2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseDustForGuardian" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResearchScrollLeft1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResearchScrollLeft2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StopSubUpgradesAfterStage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TaskUpgradeHeroes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskOracleRituals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskGuildExpeditions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskAlchemist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskFirestoneResearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskTrainGuardian" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskCampaignMissions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TaskAutoclick" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlchemistDragonBlood" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlchemistStrangeDust" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlchemistExoticCoin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskMeteoriteResearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskDailyMissionsLiberations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskCampaignLoot" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskEngineerReward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskDailyMissionsDungeons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskDailyReward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskQuests" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TaskPickaxes" serializeAs="String">
        <value>False</value>
      </setting>
    </AutoclickerFirestone.Properties.Settings>
  </userSettings>
</configuration>
